<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  <configSections>
    <sectionGroup name="spring">
      <!--提供Spring对应用程序上下文的支持-->
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <!--提供Spring对对象容器的支持-->
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <!--Spring中IOC容器所使用的对象XML文件定义-->
      <!--<resource uri="assembly://程序集名/命名空间.文件夹名/资源名" />-->
      <resource uri="assembly://StudySpring.net/StudySpring.net.Config/Objects.xml" ></resource>
    </context>
  </spring>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>